@tailwind base;
@tailwind components;
@tailwind utilities;


section{
  width: 100vw;
}

::-webkit-scrollbar{
  display: none;
}

* {
  scroll-behavior: smooth;
  font-size: medium ;
}

.clip-bookmark {
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.logo{
  position: relative;
}

.logo::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-right: 6rem solid transparent; /* Adjust for triangle width */
  border-top: 4rem solid #3ca0ce; /* Triangle height and color */
  top: 5rem; /* Position from the top */
  left: 0; /* Align to the right */
}

.logo::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 6rem solid transparent; /* Adjust for triangle width */
  border-top: 4rem solid #3ca0ce; /* Triangle height and color */
  top: 5rem; /* Position from the top */
  right: 0; /* Align to the right */
}


#file-upload-button{
  display: none;
}

.card{
  cursor: pointer;
}

.nav_link {
  position: relative;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.nav_link::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Position it at the bottom */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  height: 6px;
  width: 0; /* Start width at 0 */
  background-color: #3ca0ce;
  transition: width 0.2s ease-in-out;
}

.nav_link:hover::after {
  width: 100%; /* Expand width on hover */
}


/* From Uiverse.io by Cevorob */ 
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}


/* From Uiverse.io by boryanakrasteva */ 
/* From Uiverse.io by andrew-demchenk0 */ 
.button_book {
  position: relative;
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #cc0000;
  background-color: #e50000;
  overflow: hidden;
  border-radius: 12px;
}

.button_book, .button__icon, .button__text {
  transition: all 0.3s;
}

.button_book .button__text {
  transform: translateX(35px);
  color: #fff;
  font-weight: 600;
}

.button_book .button__icon {
  position: absolute;
  transform: translateX(216px);

  height: 100%;
  width: 39px;
  background-color: #cc0000;
  display: flex;
  align-items: center;
  justify-content: center;
}



.button_book .svg {
  width: 20px;
}

.button_book:hover {
  background: #cc0000;
}

.button_book:hover .button__text {
  color: transparent;
}

.button_book:hover .button__icon {
  width: 100%;
  transform: translateX(0);
}

.button_book:active .button__icon {
  background-color: #b20000;
}

.button_book:active {
  border: 1px solid #b20000;
}


/* From Uiverse.io by vinodjangid07 */ 
.button_btt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(160, 223, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button_btt:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #3ca0ca;
  align-items: center;
}

.button_btt:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button_btt::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button_btt:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}
